/* ============================== Base styles for all devices ===============================*/

/* Styles for small devices */
@media (max-width: 600px) {

    /* ============================== header ============================== */
    /* ---------------------------- mobile nav start */
    .navbar .nav-section .nav{
        display: none;
    }

    .navbar .nav-section .mobile-nav{
        display: block;
    }

    .navbar .nav-section .mobile-nav .mobile-menu{
        font-size: 1.5rem;
    }
    /* ---------------------------- mobile nav end */
    /* ---------------------------- header section start */
    .navbar .nav-section .brand-logo{
        font-size: 1.5rem;
    }

    .main-content .main-details .main-title{
        font-size: 2.2rem;
    }

    .main-content .main-details .main-para{
        font-size: 0.856rem;
    }

    .main-content .main-details .btn-box .main-btn{
        font-size: 0.965rem;
        padding: 15px 20px;
    }
    /* ---------------------------- header section end */
    /* ============================== header ============================== */

    /* ============================== main ============================== */
    /* ---------------------------- our feature section start */
    .our-feature-container{
        padding: 40px 0px 40px;
        flex-direction: column-reverse;
        gap: 60px;
    }

    .our-feature-container .our-feature-team-img{
        width: 80%;
        grid-template-columns: 1fr;
        margin-left: 0;
    }

    .our-feature-container .our-feature-details{
        width: 100%;
    }

    .our-feature-container .our-feature-details .our-feature-title{
        font-size: 1.5rem;
    }

    .our-feature-container .our-feature-details .our-feature-para{
        font-size: 0.856rem;
    }

    .our-feature-container .our-feature-details .btn-box .ou-ft-btn{
        font-size: 0.965rem;
        padding: 15px 20px;
    }
    /* ---------------------------- our feature section end */
    /* ============================== main ============================== */

}

/* Styles for tablets */
@media (min-width: 600px) and (max-width: 768px) {

    /* ============================== header ============================== */
    /* ---------------------------- mobile nav start */
    .navbar .nav-section .nav{
        display: none;
    }

    .navbar .nav-section .mobile-nav{
        display: block;
    }

    .navbar .nav-section .mobile-nav .mobile-menu{
        font-size: 1.5rem;
    }
    /* ---------------------------- mobile nav end */
    /* ---------------------------- header section start */
    .navbar .nav-section .brand-logo{
        font-size: 1.9rem;
    }

    .main-content .main-details .main-title{
        font-size: 3.2rem;
    }

    .our-feature-container .our-feature-details{
        width: 100%;
    }

    .main-content .main-details .main-para{
        font-size: 1rem;
    }

    .main-content .main-details .btn-box .main-btn{
        font-size: 0.965rem;
        padding: 20px 25px;
    }
    /* ---------------------------- header section end */
    /* ============================== header ============================== */

    /* ============================== main ============================== */
    /* ---------------------------- our feature section start */
    .our-feature-container{
        padding: 50px 0px 40px;
        flex-direction: column-reverse;
        gap: 65px;
    }

    .our-feature-container .our-feature-team-img{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 0;
    }

    .our-feature-container .our-feature-details{
        width: 100%;
    }

    .our-feature-container .our-feature-details .our-feature-title{
        font-size: 1.9rem;
    }

    .our-feature-container .our-feature-details .our-feature-para{
        font-size: 1rem;
    }

    .our-feature-container .our-feature-details .btn-box .ou-ft-btn{
        font-size: 0.965rem;
        padding: 20px 25px;
    }
    /* ---------------------------- our feature section end */
    /* ============================== main ============================== */

}

/* Styles for small desktops */
@media (min-width: 768px) and (max-width: 992px) {

    /* ============================== header ============================== */
    /* ---------------------------- mobile nav start */
    .navbar .nav-section .nav{
        display: none;
    }

    .navbar .nav-section .mobile-nav{
        display: block;
    }

    .navbar .nav-section .mobile-nav .mobile-menu{
        font-size: 1.5rem;
    }
    /* ---------------------------- mobile nav end */
    /* ---------------------------- header section start */
    .navbar .nav-section .brand-logo{
        font-size: 2rem;
    }

    .main-content .main-details .main-title{
        font-size: 3.5rem;
    }

    .main-content .main-details .main-para{
        font-size: 1rem;
    }

    .main-content .main-details .btn-box .main-btn{
        font-size: 1rem;
        padding: 20px 25px;
    }
    /* ---------------------------- header section end */
    /* ============================== header ============================== */

    /* ============================== main ============================== */
    /* ---------------------------- our feature section start */
    .our-feature-container{
        padding: 60px 0px 40px;
        flex-direction: column-reverse;
        gap: 75px;
    }

    .our-feature-container .our-feature-team-img{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 0;
    }

    .our-feature-container .our-feature-details{
        width: 100%;
    }

    .our-feature-container .our-feature-details .our-feature-title{
        font-size: 2rem;
    }

    .our-feature-container .our-feature-details .our-feature-para{
        font-size: 1rem;
    }

    .our-feature-container .our-feature-details .btn-box .ou-ft-btn{
        font-size: 1rem;
        padding: 20px 25px;
    }
    /* ---------------------------- our feature section end */
    /* ============================== main ============================== */

}

/* Styles for large desktops */
@media (min-width: 992px) and (max-width: 1266px) {

    /* ====================== css reusable classes ===================== */
    .container{
        max-width: 992px;
    }
    /* ====================== css reusable classes ===================== */

    /* ============================== header ============================== */
    /* ---------------------------- header section start */

    .navbar .nav-section .brand-logo{
        font-size: 2.3rem;
    }

    .main-content .main-details .main-title{
        font-size: 3.8rem;
    }

    .main-content .main-details .main-para{
        font-size: 1rem;
    }

    .main-content .main-details .btn-box .main-btn{
        font-size: 1.2rem;
        padding: 20px 25px;
    }
    /* ---------------------------- header section end */
    /* ============================== header ============================== */

    /* ============================== main ============================== */
    /* ---------------------------- our feature section start */
    .our-feature-container{
        padding: 60px 0px 40px;
        flex-direction: column-reverse;
        gap: 75px;
    }

    .our-feature-container .our-feature-team-img{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 0;
    }

    .our-feature-container .our-feature-details{
        width: 100%;
    }

    .our-feature-container .our-feature-details .our-feature-title{
        font-size: 2.3rem;
    }

    .our-feature-container .our-feature-details .our-feature-para{
        font-size: 1rem;
    }

    .our-feature-container .our-feature-details .btn-box .ou-ft-btn{
        font-size: 1.2rem;
        padding: 20px 25px;
    }
    /* ---------------------------- our feature section end */
    /* ============================== main ============================== */

}

/* Styles for extra large desktops */
@media (min-width: 1268px) and (max-width: 1500px) {

    /* ====================== css reusable classes ===================== */
    .container{
        max-width: 1200px;
    }
    /* ====================== css reusable classes ===================== */

    /* ============================== header ============================== */
    /* ---------------------------- header section start */
    .navbar .nav-section .brand-logo{
        font-size: 2.8rem;
    }

    .main-content .main-details .main-title{
        font-size: 4rem;
    }

    .main-content .main-details .main-para{
        font-size: 1rem;
    }

    .main-content .main-details .btn-box .main-btn{
        font-size: 1.25rem;
        padding: 20px 25px;
    }
    /* ---------------------------- header section end */
    /* ============================== header ============================== */

    /* ============================== main ============================== */
    /* ---------------------------- our feature section start */
    .our-feature-container{
        padding: 60px 0px 40px;
        gap: 75px;
    }

    .our-feature-container .our-feature-team-img{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 0;
    }

    .our-feature-container .our-feature-details{
        width: 537px;
    }

    .our-feature-container .our-feature-details .our-feature-title{
        font-size: 2.8rem;
    }

    .our-feature-container .our-feature-details .our-feature-para{
        font-size: 1rem;
    }

    .our-feature-container .our-feature-details .btn-box .ou-ft-btn{
        font-size: 1.25rem;
        padding: 20px 25px;
    }
    /* ---------------------------- our feature section end */
    /* ============================== main ============================== */

}