/* ====================== google font ===================== */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* ====================== google font ===================== */

/* ====================== universal css reset style ===================== */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Work Sans", sans-serif;
}
/* ====================== universal css reset style ===================== */

/* ====================== css reusable classes ===================== */

/* ====================== css reusable classes ===================== */